.grid-container {
    display: flex;
    border-style: solid;
    border-color: black;
}

/* use to display squares when initializeGrid() */
/*
.grid-square {
    border-style: dashed;
    border-color: red;
}
*/

.grid-square:hover {
    background-color: red;
}

.trail {
    background-color: black;
}

.wrap {
    flex-wrap: wrap;
}